* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.modal-wrapper {
  background: white;
  width: 70%;
  max-width: 800px;
  margin: 4rem auto;
}

.modal-header {
  background: black;
  color: red;
  padding: 1rem;
  display: flex;
}
